#**Deep Neural Network**
##**LAB 3: - Getting Familiar with tensorflow.**

---

###**Name: - Gaurav Sonawane**

###**PRN: - 20200802154**

**BTech CSE TY**

**DS1**

---

In [1]:
# Importing required libraries

import pandas as pd
from sklearn.model_selection import train_test_split
import tensorflow as tf

In [2]:
# Read the dataset
df=pd.read_csv("/content/Churn Dataset.csv")
df=pd.DataFrame(df)
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [3]:
df.Churn.replace(["Yes", "No"], [1, 0], inplace= True)

In [4]:
df=pd.get_dummies(df)

In [5]:
x=df.drop(columns=['Churn'])
y=df['Churn']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [6]:
# Importing required libraries
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense
from sklearn.metrics import accuracy_score

In [7]:
model = Sequential()
model.add(Dense(16, activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [8]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [9]:
model.fit(x_train, y_train, epochs=10, batch_size=10)

Epoch 1/10
564/564 [==============================] - 3s 4ms/step - loss: 0.4773 - accuracy: 0.7760
Epoch 2/10
564/564 [==============================] - 3s 5ms/step - loss: 0.4220 - accuracy: 0.8030
Epoch 3/10
564/564 [==============================] - 2s 4ms/step - loss: 0.4041 - accuracy: 0.8135
Epoch 4/10
564/564 [==============================] - 2s 4ms/step - loss: 0.3813 - accuracy: 0.8277
Epoch 5/10
564/564 [==============================] - 2s 4ms/step - loss: 0.3522 - accuracy: 0.8470
Epoch 6/10
564/564 [==============================] - 3s 5ms/step - loss: 0.3031 - accuracy: 0.8809
Epoch 7/10
564/564 [==============================] - 3s 5ms/step - loss: 0.2369 - accuracy: 0.9295
Epoch 8/10
564/564 [==============================] - 2s 4ms/step - loss: 0.1585 - accuracy: 0.9728
Epoch 9/10
564/564 [==============================] - 2s 4ms/step - loss: 0.0862 - accuracy: 0.9924
Epoch 10/10
564/564 [==============================] - 2s 4ms/step - loss: 0.0454 - accuracy: 0.9979

In [10]:
y_hat=model.predict(x_test)
y_hat={ 0 if val<0 else 1 for val in y_hat  }

45/45 [==============================] - 0s 2ms/step

In [11]:
accuracy_score= model.evaluate(x_test, y_test)

45/45 [==============================] - 0s 3ms/step - loss: 0.4906 - accuracy: 0.7566